/* General Styles */
body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-image: url('ui/background_image_light_theme.png');
    background-repeat: repeat;
    background-size: auto;
    animation: moveBackground 10s linear infinite;
}

/* Animation to move the background diagonally */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 98px -100px;
    }
}

h1 {
    font-weight: 700;
    color: #ffffff;
}

p {
    margin: 10px 0;
}

.section-title {
    font-weight: 500;
    margin-top: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Dark grey background color */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 6px solid #222; /* Darker grey first outline */
    outline: 6px solid #fff; /* White outer outline */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow thumbnails to wrap to the next row */
}

.image-button {
    position: relative;
    width: 320px; /* Standard thumbnail width */
    height: 180px; /* Standard thumbnail height */
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.image-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-button:hover {
    transform: scale(1.05);
}
