body {
    font-family: 'Baloo 2', cursive; /* Updated to use Baloo font */
    margin: 0;
    padding: 0;
    background-image: url('ui/background_image_light_theme.png');
    background-repeat: repeat;
    background-size: auto;
    animation: moveBackground 10s linear infinite;
}

/* Animation to move the background diagonally */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 98px -100px;
    }
}

.search-container {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

#searchInput {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px; /* Capsule shape */
    border: 2px solid #ddd;
    font-family: 'Baloo 2', cursive; /* Ensure input text uses Baloo font */
}

.sort-container {
    text-align: center;
    margin: 20px 0;
}

.sort-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Baloo 2', cursive;
}

.sort-container button:first-child { /* The Random button */
    font-weight: 700; /* Bold variant */
}

.sort-container button:hover {
    background-color: #0056b3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 15px;
    justify-content: center;
}

.image-item {
    position: relative;
    width: 320px; /* Standard YouTube thumbnail width */
    height: 180px; /* Standard YouTube thumbnail height */
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(39, 39, 39, 0.2);
    transition: transform 0.2s;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-item:hover {
    transform: scale(1.05);
}

.download-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: none;
    font-family: 'Baloo 2', cursive; /* Download button text */
}

.image-item:hover .download-button {
    display: inline-block;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: 'Baloo 2', cursive;
}
